body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.splash {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url('./assets/logo-min.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 900px) {
  .splash {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('./assets/logo-min.png');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.fondo {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url('./assets/logo-min.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 900px) {
  .splash {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('./assets/logo-min.png');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.alerta-error {
  text-shadow: 1px 1px 2px white;
  color: red;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.gridContainer{
  height: 90vh !important;
  flex-wrap: nowrap !important;
  overflow: scroll !important;
}

.customCard{
  margin: 1rem;
}
